# Dependencies
node_modules/

# Expo caches
.expo/
.expo-shared/

# IDE / tooling
.vscode/
.idea/
.yarn/

# Git
.git/
.github/

# Caches
.cache/
.metro-cache/

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Docs (opcional)
README.md
docs/
